# MongoDB: CW6

### 1. Connecting to database and getting the collections

In [17]:
#Running pymongo
from pymongo import MongoClient
from datetime import datetime
import pymongo

In [9]:
client=MongoClient()

In [4]:
#Connecting to local host
client=MongoClient(host=['localhost:27017'])

In [5]:
#Retrieving restaurant database
db1=client.get_database("test")

In [6]:
#To get the name of the collection (The table in mysql)
db1.collection_names()

['restaurants']

### 2. Inserting documents and querying

##### 2.1. Insert a new document in 'Restaurants' collection

In [10]:

from datetime import datetime
result = db1.restaurants.insert_one(
    {
        "address": {
            "street": "2 Avenue",
            "zipcode": "10075",
            "building": "1480",
            "coord": [-73.9557413, 40.7720266]
        },
        "borough": "Manhattan",
        "cuisine": "Italian",
        "grades": [
            {
                "date": datetime.strptime("2014-10-01", "%Y-%m-%d"),
                "grade": "A",
                "score": 11
            },
            {
                "date": datetime.strptime("2014-01-16", "%Y-%m-%d"),
                "grade": "B",
                "score": 17
            }
        ],
        "name": "Vella",
        "restaurant_id": "41704620"
    }
)

In [11]:
result.inserted_id

ObjectId('5a013325651c1e374c207f8d')

##### 2.2. Write query to find all restaurants sorted by 'borough' field and then by 'zipcode'

In [153]:
query1 = db1.restaurants.find().sort([
    ("borough", pymongo.ASCENDING),
    ("address.zipcode", pymongo.ASCENDING)
]).limit(5)

In [118]:
for document in query1:
    print(document)

{'_id': ObjectId('59fea01a782d8c8fc234e2c6'), 'address': {'building': '650', 'coord': [-73.92537449999999, 40.8207116], 'street': 'Grand Concourse', 'zipcode': ''}, 'borough': 'Bronx', 'cuisine': 'Sandwiches', 'grades': [{'date': datetime.datetime(2014, 9, 30, 0, 0), 'grade': 'A', 'score': 7}], 'name': 'Subway#50497 (Cardinal Hayes High School)', 'restaurant_id': '50006048'}
{'_id': ObjectId('59fea019782d8c8fc2348fcb'), 'address': {'building': '72', 'coord': [-73.92506, 40.8275556], 'street': 'East  161 Street', 'zipcode': '10451'}, 'borough': 'Bronx', 'cuisine': 'American', 'grades': [{'date': datetime.datetime(2014, 4, 15, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2013, 11, 14, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2013, 7, 29, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 12, 31, 0, 0), 'grade': 'B', 'score': 15}, {'date': datetime.datetime(2012, 5, 30, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 1, 9, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2011, 8, 15, 0, 0), 'grade': 'C', 'score': 37}], 'name': 'Yankee Tavern', 'restaurant_id': '40365499'}
{'_id': ObjectId('59fea019782d8c8fc23492c9'), 'address': {'building': '101', 'coord': [-73.9243061, 40.8276297], 'street': 'East 161 Street', 'zipcode': '10451'}, 'borough': 'Bronx', 'cuisine': 'Latin (Cuban, Dominican, Puerto Rican, South & Central American)', 'grades': [{'date': datetime.datetime(2014, 4, 10, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 10, 1, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2013, 4, 11, 0, 0), 'grade': 'B', 'score': 25}, {'date': datetime.datetime(2012, 10, 25, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 10, 10, 0, 0), 'grade': 'P', 'score': 12}, {'date': datetime.datetime(2012, 5, 25, 0, 0), 'grade': 'B', 'score': 14}, {'date': datetime.datetime(2011, 9, 14, 0, 0), 'grade': 'B', 'score': 26}, {'date': datetime.datetime(2011, 4, 25, 0, 0), 'grade': 'C', 'score': 76}], 'name': 'El Molino Rojo Restaurant', 'restaurant_id': '40393688'}
{'_id': ObjectId('59fea019782d8c8fc2349353'), 'address': {'building': '5167', 'coord': [-73.9252904, 40.828054], 'street': 'East  161 Street', 'zipcode': '10451'}, 'borough': 'Bronx', 'cuisine': 'Hamburgers', 'grades': [{'date': datetime.datetime(2014, 4, 10, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2013, 4, 9, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2012, 4, 30, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2011, 12, 27, 0, 0), 'grade': 'A', 'score': 12}], 'name': "Mcdonald'S", 'restaurant_id': '40396399'}
{'_id': ObjectId('59fea019782d8c8fc23493e9'), 'address': {'building': '599', 'coord': [-73.9270544, 40.8197704], 'street': 'Grand Concourse', 'zipcode': '10451'}, 'borough': 'Bronx', 'cuisine': 'Hamburgers', 'grades': [{'date': datetime.datetime(2014, 2, 6, 0, 0), 'grade': 'A', 'score': 7}, {'date': datetime.datetime(2013, 9, 5, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2013, 3, 26, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2012, 10, 2, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2012, 7, 19, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 3, 6, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2011, 10, 11, 0, 0), 'grade': 'A', 'score': 7}], 'name': "Mcdonald'S", 'restaurant_id': '40399778'}

In [128]:
for lista1 in query1:
    print('{} {} {}'.format(lista1['borough'],",", lista1["address"]["zipcode"]))

Bronx ,
Bronx , 10451
Bronx , 10451
Bronx , 10451
Bronx , 10451

##### 2.3 Write query to find italian cuisine restaurants for zipcode 10075

In [157]:
query2=db1.restaurants.find({"address.zipcode":"10075"})

In [158]:
for lista2 in query2:
    print('{} {} {} {} {}'.format(lista2["restaurant_id"],",",lista2["cuisine"],",",
                                  lista2["address"]["zipcode"]))

40369753 , American , 10075
40369759 , American , 10075
40372417 , Italian , 10075
40376142 , Italian , 10075
40386999 , Italian , 10075
40387986 , American , 10075
40390046 , French , 10075
40391060 , American , 10075
40398796 , Caf√©/Coffee/Tea , 10075
40402418 , American , 10075
40512852 , American , 10075
40560302 , Italian , 10075
40573131 , Mexican , 10075
40577928 , Japanese , 10075
40602482 , Seafood , 10075
40604004 , American , 10075
40641437 , Italian , 10075
40643138 , Italian , 10075
40669257 , Chinese , 10075
40692857 , Italian , 10075
40718665 , Bakery , 10075
40733386 , Japanese , 10075
40746574 , American , 10075
40759586 , Italian , 10075
40790974 , Barbecue , 10075
40825792 , Pizza/Italian , 10075
40854486 , Italian , 10075
40978159 , Vegetarian , 10075
41030858 , Pizza , 10075
41072936 , Bakery , 10075
41078357 , Mediterranean , 10075
41084188 , Italian , 10075
41087832 , Soups & Sandwiches , 10075
41097286 , American , 10075
41117086 , Mexican , 10075
41118091 , Sandwiches , 10075
41120682 , Italian , 10075
41175689 , Asian , 10075
41188766 , Chinese/Japanese , 10075
41243754 , American , 10075
41245491 , Pizza , 10075
41263780 , Sandwiches/Salads/Mixed Buffet , 10075
41288311 , American , 10075
41299922 , Ice Cream, Gelato, Yogurt, Ices , 10075
41317385 , American , 10075
41338090 , Italian , 10075
41344446 , American , 10075
41365332 , Donuts , 10075
41404793 , Mediterranean , 10075
41412075 , American , 10075
41422914 , Bagels/Pretzels , 10075
41480486 , Japanese , 10075
41483315 , American , 10075
41485509 , Delicatessen , 10075
41508862 , Pizza , 10075
41517703 , American , 10075
41520588 , Vegetarian , 10075
41523649 , Chinese , 10075
41542801 , Thai , 10075
41546041 , American , 10075
41557600 , Greek , 10075
41560774 , Mexican , 10075
41570191 , Italian , 10075
41599272 , Caf√©/Coffee/Tea , 10075
41609497 , Asian , 10075
41610929 , Tex-Mex , 10075
41637080 , Greek , 10075
41650342 , Bakery , 10075
41650568 , Chinese/Japanese , 10075
41650784 , Bagels/Pretzels , 10075
41660537 , American , 10075
41670534 , Japanese , 10075
41682198 , American , 10075
41683431 , Indian , 10075
41704189 , Pizza/Italian , 10075
41704620 , Italian , 10075
41709370 , Chinese/Japanese , 10075
41711304 , American , 10075
41717853 , American , 10075
50000995 , American , 10075
50001114 , American , 10075
50001539 , Japanese , 10075
50001762 , American , 10075
50002031 , Caf√©/Coffee/Tea , 10075
50002876 , Bakery , 10075
50004334 , Salads , 10075
50004561 , Juice, Smoothies, Fruit Salads , 10075
50005444 , Jewish/Kosher , 10075
50005852 , Italian , 10075
50008301 , Sandwiches , 10075
50012132 , Tapas , 10075
50014895 , Pizza , 10075
50015081 , Chinese , 10075
50015835 , Japanese , 10075
50015990 , Other , 10075
50016951 , French , 10075
50017538 , Other , 10075
50018368 , Other , 10075
50018889 , Other , 10075
41704620 , Italian , 10075